.container{
    
}
.playerRoster{
    
    
}
.playerCard{
    display:inline-block;
    border: 1px solid black;
    margin: 15px;
    text-align: center
    
}
.playerForm{
    margin-left: 05px;
    
    
}
.cheer{
    height: 350px;
    float: left
}
.cheerend{
    height: 350px;
    float: right;
}  
.panel-body{
    background-image: url(assets/img/nfl_logo.jpg);
    height:400px;
    text-align: center;
}


















