.container{
    
}
.playerRoster{
    
    
}
.playerCard{
    display:inline-block;
    border: 1px solid black;
    margin: 5px;
    text-align: center
    
}
.playerForm{
    margin-left: 05px;
    
    
}




















